<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Teacher Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <style>
    
    .button {
      background-color: #008374; 
      border: none;
      color: white;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
     }

    #main {
      text-align: center;
    }
  </style>

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.2.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/static/img/logo.png" alt=""> -->
        <h1>ClassUp<span>!</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          {% if 'email' in session %}
            <li><a href="/teacher_dashboard"><span>Your Dashboard</span></a></li>
            <li class="dropdown"><span>{{ session['email'] }}</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a class="nav-link" href="/logout">Log Out</a></li>
              </ul>
            </li>
          {% else %}
            <li>
              <a href="/login">Login</a>
            </li>
          {% endif %}

        </ul>
      </nav><!-- .navbar -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  <section class="sample-page"> 
    <div class="container" data-aos="fade-up">
      <main id="main">
        <h3>Teacher's Dashboard</h3>
        <section id="dashboard_nav">
          <nav>
              <button><a href="#classes">View Classes</a></button>
              <button><a href="/slides_list">View Slides</a></button>
              <button><a href="#subjects">View Subjects</a></button>
          </nav>
        </section>
        <main>
          <section id="classes" style="text-align: center;">
            <input type="hidden" id="positive_sentiment_count" value="{{ positivePercentage }}">
            <input type="hidden" id="negative_sentiment_count" value="{{ negativePercentage }}">
            <h2>Sentiment</h2>
            <div style="display: flex; align-items: center; justify-content: center;">
              <canvas id="myChart" width="400" height="400" ></canvas>
            </div>
          </section>
    
          <section id="subjects" style="text-align: cen;">
            <h2>Attendance</h2>
            <button><a href="/attendance">Take attendance</a></button>
          </section>
    </div>
  </section>
  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>ClassUp</span>
          </a>
          <p>The only classroom platform that institutions need to cut down on unproductive time.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            180 Ang Mo Kio Ave 8 <br>
            569830<br>
            Singapore <br><br>
            <strong>Phone:</strong> +65 6451 5115<br>
            <strong>Email:</strong> classupcontact@mymail.edu.com.sg<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>ClassUp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by Bill Bezos</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
  <script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var positivePercentage = parseInt(document.getElementById("positive_sentiment_count").value);
    var negativePercentage = parseInt(document.getElementById("negative_sentiment_count").value);
    var myChart = new Chart(ctx, {
      type: "doughnut",
      data: {
        labels: ["Positive", "Negative"],
        datasets: [
          {
            data: [positivePercentage, negativePercentage],
            backgroundColor: ["#008374", "#FF829C"],
          },
        ],
      },
      options: {
        title: {
          display: true,
          text: positivePercentage.toFixed(2) + "% Positive",
          fontSize: 20,
          fontColor: "#000",
          position: "top"
        },
        cutoutPercentage: 40,
        responsive: false,
        maintainAspectRatio: false,
        width: 400,
        height: 400
      },
     
    });
    myChart.canvas.onclick = function(event) {
        window.location.href = "/teacher-sentiments";
    }
  </script>

</body>

</html>